extends base

block prepend cssImports
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css')
  link(
    rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="")
  link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css")
  link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css")
  link(rel='stylesheet' href='https://cdn.quilljs.com/1.3.6/quill.snow.css')



block content
  button.btn-respond.btn-respond--black.btn-respond--topic.add-topic__btn
    svg.btn-respond__icon
      use(xlink:href='img/sprite.svg#icon-quill')

  include _menu-respond

  header.header.header--set-height
    a.header__scroll-down.scroll-down(href='#topics')
      .scroll-down__mouse
        span
      .scroll-down__arrow
        span

    include _navigation

    .hero-box
      .hero-box__msg
        h1.heading--primary.margin-bottom-small Observe and share
        p.paragraph--hero.margin-bottom-medium
          | Be the reporter &ndash;
          span.text-italics.text-color-primary.text-bold the observer
          | . Come and share your stories, let the world know what you have seen. Express your opinion on several topics and help make the world a better place.
        ul.cta
          li.cta__item
            a.btn.btn--pink.btn--pink--filled.cta__link(href='#topics') See Topics
          if user
            li.cta__item
              button.btn.btn--brown.btn--fill.cta__link.add-topic__btn
                span Create a new topic
          else
            li.cta__item
              a.btn.btn--brown.btn--fill.cta__link(href='#')
                span Become an observer
      .hero-box__hero
        img.hero-box__img(src='img/little-observer.jpg' alt='')

  section.topics#topics
    include _topicForm
    h2.heading--secondary.margin-bottom-medium.margin-top-medium Current topics
    include _searchBar
    .topics__view
      .topic-list
        include _listViewConfig
        ul.topic-cards.margin-bottom-small

          each topic in topics
            li.topic.margin-bottom-extra-small
              .topic__info
                .topic__info--basics
                  span.topic__info--time
                    a.link-info.link-info--small(href=`/?createdAt=${topic.createdAt.toISOString().split('T')[0]}#topics`)= topic.createdAt.toLocaleString('en-us', {month: 'long', day:'numeric', year:'numeric'})
                  span.topic__info--location
                    a.link-info.link-info--small(href='#')= topic.location.address
                  span.topic__info--category
                    a.link-info.link-info--category(href=href=`/?category=${encodeURIComponent(topic.category)}`)= topic.category
                .topic__info--reports
                  span.topic__info--report-count
                    span.link-info.link-info--small #{topic.reportCount} report(s)
              img.topic__img.margin-bottom-small(src=`img/${topic.imageCover}` alt=`${topic.title}`)
              p.topic__title
                a(href='#')= topic.title
              if topic.descriptionHTML
                - const descriptionObj = JSON.parse(topic.description)
                p.topic__description #{descriptionObj.text}...
              else
                p.topic__description #{topic.description.slice(0, 400)}...
              .topic__read-more
                a.btn.btn-black(href=`/topics/${topic.slug}`) Read more
              .topic__tags-container
                .tags
                  if topic.tags.length
                    .tags__title
                      span.text--secondary--important tags
                  each tag in topic.tags
                    .tags__item
                      a.tag(href=`/?tags=${encodeURIComponent(tag.name)}#topics`)= tag.name
              p.topic__author.paragraph--small.text-italics.margin-bottom-medium &ndash; Author: #{topic.author.name}


        .topic-map.margin-bottom-medium.hide
          #mapbox-topics.map.margin-bottom-small(data-mapData=`${JSON.stringify(topics.map(el => {
            return {
              location: el.location,
              createdAt: el.createdAt,
              title: el.title,
              slug: el.slug,
              category: el.category
            }
          }))}`)
          .topic-map__cluster-list.hide(data-simplebar='' data-simplebar-auto-hide='false')
            .topic-map__cluster-list--close &times;
            ul.topic-map__cluster-list--elements

        include _pagination
      .topic-stats
        h3.section__title.margin-bottom-small Most popular topics
        ul.topic-stats__list.margin-bottom-medium
          each popularTopic, i in mostPopularTopics
            li.sm-card
              p.sm-card__rank
                | 0#{i+1}
              // <img src="img/politics.jpg" alt="" class="sm-card__img">
              .sm-card__info
                .sm-card__main
                  a.link-info.link-info--normal(href=`/topics/${popularTopic.slug}`)= popularTopic.title
                .sm-card__sub
                  a.sm-card__category.sm-card__link.link-info.link-info--category.link-info--category--small(href=`/?category=${encodeURIComponent(popularTopic.category)}#topics`)= popularTopic.category
                  a.sm-card__link.link-info.link-info--small.link-info--small--sm(href=`/?createdAt=${popularTopic.createdAt.toISOString().split('T')[0]}#topics`) Created on #{popularTopic.createdAt.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}
        .full-width
          if user
            #add-topic__btn.full-width__btn.btn.btn-black.add-topic__btn
              svg.btn__icon
                use(xlink:href='img/sprite.svg#icon-quill')
              span Create a new topic
          else
            a.full-width__btn.btn.btn-black(href='/login')
              svg.btn__icon
                use(xlink:href='img/sprite.svg#icon-quill')
              span Log in and create topic

  include _footer
