extends base

block prepend cssImports
  include _cssImports

block content
  include _menu-respond

  header.header
    include _navigation

  section.user-view__container
    -const topic = {_id: ''}
    .full-container.create-report-form
      .form-container(data-simplebar='' data-simplebar-auto-hide='false')
        .create-report-close.btn-close
          span.btn-close__icon
        h3.section__title.margin-bottom-small Update this report
        form.form.form--create-report(data-topic=`${topic._id}`)
          .form__group.margin-bottom-medium
            label.form__label.form__label--title.margin-bottom-small(for='report-content') Report&apos;s content
            textarea#report-content.form__textarea(rows='8' placeholder='Share your opinion on this topic...' required minlength=150 maxlength=500)
          .form__group.form-control--links
            input#select-mediaUrls-create-report-form.form-control.form__input(type='text' value='' placeholder='Enter something')
            label.form__label(for='select-mediaUrls-create-report-form') Report&apos;s supporting links or sources
          .form__group.form__group--split
            input.btn.btn--small.btn-primary(type='Reset' value='Reset Form')
            input.btn.btn--small.btn-black(type='submit' value='Update report')
    .full-container.create-topic-form
      .form-container(data-simplebar='' data-simplebar-auto-hide='false')
        .create-topic-close.btn-close
          span.btn-close__icon
        h3.section__title.margin-bottom-small Update this topic
        form.form.form--create-topic
          .form__group
            input#title.form__input(type='text' placeholder='Title' required='' minlength=30 maxlength=120)
            label.form__label(for='title')
              | Topic&apos;s title
              span.form__message
                |
                | *
          .form__group.form__group--small
            label.form__label--title(for='select-category-create-topic-form')
              | Topic&apos;s category
              span.form__message
                |
                | *
            select#select-category-create-topic-form.form-control(data-trigger='' name='choices-single-default' placeholder='Search category')
              option(value='') Select category
              each category in categories
                option(value=`${category}`)= category
          .form__group
            label#topicDescriptionLabel.form__label--title(for='topicDescription')
              | Topic&apos;s description
              span.form__message *
            input#topicDescription(name='description' type='hidden')
            .form__editor.editor#topicEditor
          .form__group
            input#select-tags-create-topic-form.form-control.form__input(type='text' value='' placeholder='Enter something')
            label.form__label(for='select-tags-create-topic-form') Topic&apos;s tags
          .form__group.form-control--links
            input#select-mediaUrls-create-topic-form.form-control.form__input(type='text' value='' placeholder='Enter something')
            label.form__label(for='select-mediaUrls-create-topic-form') Topic&apos;s supporting links or sources
          .form__group
            label.form__label(for='location')
              | Topic's location
              span.form__message *
            input#location.form__input(type='hidden' placeholder="Topic's location" )
            .form__map
              .map#createTopicMap
          .form__group
            input#imageCover.form__input.form__upload(type='file' accept='image/*' name='imageCover')
            label.form__profile-picture--button(for='imageCover')
              svg.form__profile-picture--button--icon
                use(xlink:href='img/sprite.svg#icon-upload2')
              span
                | Please upload a cover image for your topic
                em (A default will be used otherwise)
                | .
          .form__group.form__group--split
            input.btn.btn--small.btn-primary(type='Reset' value='Reset Form')
            input.btn.btn--small.btn-black(type='Submit' value='Update topic')


    .container
      .user-view__content
        ul.user-view__menu
          li.user-view__menu--item.user-view__menu--item--active.user-view__menu--item--1
            svg.user-view__menu--icon
              use(xlink:href='/img/sprite.svg#icon-settings')
            span Settings
          li.user-view__menu--item.user-view__menu--item--2
            svg.user-view__menu--icon
              use(xlink:href='/img/sprite.svg#icon-eye')
            span My topics
          li.user-view__menu--item.user-view__menu--item--3
            svg.user-view__menu--icon
              use(xlink:href='/img/sprite.svg#icon-sound')
            span My reports
        .user-view__info
          .user-view__info--topics.user-view__info--block.hide
            p.user-view__info--title Topics you created
            .user-view__info--list
              if topics.length > 0
                each _topic in topics
                  .user-view__info--item.user-view__topic(data-topic=`${JSON.stringify({id: _topic._id, title: _topic.title, category: _topic.category, description: _topic.description, tags: _topic.tags.map(t => t.name), mediaUrls: _topic.mediaUrls, location: _topic.location})}`)
                    img.user-view__info--item--image(src=`/img/${_topic.imageCover}` alt='')
                    .user-view__info--item--content
                      .topic__info--basics.margin-bottom-small
                        span.topic__info--time
                          a.link-info.link-info--small(href=`/?createdAt=${_topic.createdAt.toISOString().split('T')[0]}#topics`)= _topic.createdAt.toLocaleString('en-us', {month: 'long',day: 'numeric',year: 'numeric'})
                        span.topic__info--location
                          a.link-info.link-info--small(href='#')= _topic.location.address
                        span.topic__info--category
                          a.link-info.link-info--category(href=href = `/?category=${encodeURIComponent(_topic.category)}`)= _topic.category
                      a.margin-bottom-small(href=`/topics/${_topic.slug}`)= _topic.title
                    .user-view__info--item--controls
                      button.user-view__info--btn.btn.btn--small.btn-black.delete-topic__btn(data-topic=_topic.id)
                        svg.btn__icon
                          use(xlink:href='/img/sprite.svg#icon-trashcan')
                        span Delete
                      button.user-view__info--btn.btn.btn--small.btn-white.add-topic__btn
                        svg.btn__icon.user-view__info--icon
                          use(xlink:href='/img/sprite.svg#icon-quill')
                        span Update
              else
                p.nomatch__text.nomatch__text--blur Keep observing ;)
          .user-view__info--settings.user-view__info--block
            p.user-view__info--title Your account settings
            form.form.user-view__info--form.user-view__info--profile
              .form__profile-picture
                if user.thumbnail !== 'none'
                  img.form__profile-picture--image(src=`${user.thumbnail}` alt='')
                else
                  svg.form__profile-picture--image
                    use(xlink:href='/img/sprite.svg#icon-user-circle')
                input.form__upload(type='file', accept='image/*', id='photo', name='photo')
                label.form__profile-picture--button(for='photo')
                  svg.form__profile-picture--button--icon
                    use(xlink:href='img/sprite.svg#icon-upload2')
                  span Update your profile picture
              .form__group
                input#username.form__input(type='text' placeholder='Username' value=`${user.name}` required)
                label.form__label(for='username') Username
              .form__group
                input#email.form__input(type='email' placeholder='Email address' value=`${user.email}` required)
                label.form__label(for='email') Email address
              .form__group.form__group--split
                div
                input.btn.btn--small.btn-black(type='submit' value='Save settings')
            .user-view__info--password
              p.user-view__info--title Password
              form.form.user-view__info--form.user-view__info--password-form
                .form__group.form__group--small-margin
                  input#current-password.form__input(type='password' placeholder='Current Password' required='')
                  label.form__label(for='current-password')
                    | Current password
                    span.form__message
                .form__group.form__group--small-margin
                  input#password.form__input(type='password' placeholder='Password' required='')
                  label.form__label(for='password')
                    | Password
                    span.form__message
                .form__group.form__group--small-margin
                  input#password-confirm.form__input(type='password' placeholder='ConfirmPassword' required='')
                  label.form__label(for='password-confirm')
                    | Confirm password
                    span.form__message
                .form__group.form__group--split
                  div
                  input.btn.btn--small.btn-black(type='submit' value='Update password')
          .user-view__info--reports.user-view__info--block.hide
            p.user-view__info--title Reports you submitted
            .user-view__info--list.user-view__info--reports-list
              if reports.length > 0
                each report in reports
                  .user-view__info--item.user-view__report(data-report=`${JSON.stringify({id: report._id, content: report.content, mediaUrls: report.mediaUrls, location: report.location})}`)
                    .user-view__info--item-content
                      .report.user-view__info--report
                        .report__info.info-line
                          span.info-line__item.info-line__item--1
                            a.link-info.link-info--small(href=`#`)= report.createdAt.toLocaleString('en-us', {month: 'long',day: 'numeric',year: 'numeric'})
                          span.info-line__item.info-line__item--2
                            a.link-info.link-info--small(href='#')= report.location.description
                          span.info-line__item
                            a.link-info.link-info--small(href=`/topics/${report.topic.slug}`) Topic: #{report.topic.title}
                        p.report__content= report.content
                        .report__links.links
                          if report.mediaUrls.length > 0
                            .tags__title
                              span.text--secondary--important Sources
                            each reportMediaUrl in report.mediaUrls
                              .links__item
                                a.links__link(href=`${reportMediaUrl}`)
                                  svg.links__icon
                                    use(xlink:href='/img/sprite.svg#icon-link')
                                  | #{reportMediaUrl}
                    .user-view__info--item--controls
                      button.user-view__info--btn.btn.btn--small.btn-black.delete-report__btn(data-report=report.id)
                        svg.btn__icon
                          use(xlink:href='/img/sprite.svg#icon-trashcan')
                        span Delete
                      button.user-view__info--btn.btn.btn--small.btn-white.add-report__btn
                        svg.btn__icon.user-view__info--icon
                          use(xlink:href='/img/sprite.svg#icon-quill')
                        span Update
              else
                p.nomatch__text.nomatch__text--blur Your contributions are welcome :)
  include _footer